.retrato {
  position: relative;
  margin-bottom: 0;
}

/* Responsivo */

/* Largura */

@media screen and (max-width: 1025px) {
  .retrato {
    width: 200px;
  }
}
/* Altura */

@media screen and (max-height: 768px) {
  .retrato {
    width: 200px;
  }
}