body {
  font-family: 'Share Tech', sans-serif;
}

:root {
  --laranja-padrao: #ffb703;
  --azul-padrao: #000a26;
  --branco-padrao: #fafaff;
}

*::selection {
  background-color: var(--laranja-padrao);
  color: var(--azul-padrao);
}

@media screen and (max-width: 1080px) {
  html {
    font-size: 80%;
  }
}
